@font-face {
  font-family: "Lato";
  src: url("./public/fonts/Lato-Bold.eot"); /* IE9 */
  src: url("Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./public/fonts/Lato-Bold.woff") format("woff"), /* chrome, firefox */
  url("./public/fonts/Lato-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("./public/fonts/Lato-Bold.svg#Lato") format("svg"); /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}



