// Custom global colors

// Default global colors
$colorText:#000;
$colorBtn: #2c715b;
$colorLink:#96cbdc;
$bgSection: #e8ebf1;
$bgBody: #fff;
$bgFooter: #e8ebf1;
$bgCarousel: #81e4ed;

// Widths
$minWidth: 320px;
$maxWidth: 1000px;

// Breakpoints

$tablet: 950;
$mobile: 640;

// Fonts
$family: Arial, Helvetica, sans-serif;
$_21px: 1.3125em;
$fsize-footer: 0.875em;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';